#ex4{
	width: 300px;
	margin: 100px auto;
}
#result{
	width: 100%;
	border:1px solid black;
	cursor: default;
	display: none;
	list-style: none;
}
 .active{
	background: rgb(197,197,197);
}
span{
	color: red;
}
#search{
	width: 100%;
}